<! DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/> 
    <title>Drink Me</title>
    <link href="/main.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="logo">
          <h1><a href='/'>Drink Me</a></h1>
        </div>
      </div>
			<div id="content"><%= yield %></div>
			<div id="footer">
				<p id="legal">&mdash; &copy; 2011 Yannick François &mdash;</p>
			</div>
    </div>
  </body>
</html>
