<h1>Drink Me !</h1>
<p id="resume">Like message on bottle for Alice</p>
<form action="/" method="POST">
  <label>
    <input type="text" name="url" id="url"/>
  </label>
  <input type="submit" value="Shorten"/>
</form>
 
